
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--base-padding);

    min-height: 80vh;

    color: var(--gray);

    .box-icon svg {
        fill: var(--custom);
    }

    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--base-padding);
    }

    
    @media screen and (max-width: 900px) {
        &__flex {
            flex-direction: column;
        }
    }
}